.loader-wrapper {
  position: fixed;
  inset: 0;
  z-index: 3000;
  width: 100vw;
  height: 100vh;
}

.container--loader {
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.loaderArIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(220px, 55vw, 360px);
  height: auto;
}

@media screen and (max-width: 500px) {
  .loaderArIcon {
    width: clamp(240px, 78vw, 380px);
  }
}

.container--loader .progressBar {
  position: absolute;
  bottom: 30%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 30%;
  max-width: 400px;
  min-width: 240px;
}
