@use "/src/index.scss" as index;

.navBar {
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

  background-color: transparent;

  & > .navLinks {
    display: flex;
    flex-direction: row;
    font-family: "PT Mono", monospace;

    & > button {
      //   height: 100%;
      text-align: end;
      min-height: 40px;
      height: 4.16vw;
      max-height: 80px;
      align-items: end;
      padding: 8px;
      font-weight: 400;
      font-size: 0.833rem;
      line-height: 17.92px;
      background-color: var(--white);

      &.white {
        @include index.bright-button;
      }
      &.blue {
        @include index.blue-button;
      }
    }
  }
}

@media (max-width: 762px) {
  .navBar {
    justify-content: flex-start;
    padding: 12px;
    max-width: 100%;
    width: 100%;

    & > .navLinks {
      display: none;
    }
    & > .navLinksSmall {
      background-color: var(--blue);
    }
  }
}

.logoLink {
  display: flex;
  flex-direction: row;
  //   max-height: 80px;]
  min-height: 40px;
  height: 4.16vw;
  max-height: 80px;

  & > svg {
    display: flex;
    height: 100%;
    width: fit-content;
  }
}

.main_block {
  //   position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  height: fit-content;
}

.footer {
  z-index: 10;
  //   position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 20px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

  background-color: transparent;

  & > .contactUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    & > button {
      @include index.bright-button;
      display: flex;
      align-items: center;
      padding: 0px 8px;

      font-size: 0.83vw;
      line-height: 0.83vw;
      height: 100%;
    }
    & > .directContacts {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: fit-content;
      height: 100%;
      & > .phones {
        display: flex;
        flex-direction: row;
        min-height: fit-content;
        height: 100%;
        width: fit-content;
        align-items: end;
        padding: 4px 8px;
        & > svg {
          //   padding-right: 6px;
          margin-right: 6px;
          width: 20px;
          height: 20px;
        }
        & > span {
          display: flex;
          height: 100%;
          font-size: 0.83vw;
          line-height: 0.83vw;
          align-items: center;
          //   text-align: baseline;
        }
      }
    }
    & > .ceo {
      font-size: 0.83vw;
      line-height: 0.83vw;
      display: flex;
      text-align: end;
      flex-direction: row;
      padding: 4px 0px;
      opacity: 40%;
    }
  }
}
