.mainPage {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 5.2vw 20px 0px;
  margin-top: 60px;
}

@media (max-width: 762px) {
  .mainPage {
    padding: 60px 12px 0px;
  }
  h1 {
    font-size: 8.83vw !important;
    line-height: 10.2vw !important;
  }
  h2 {
    font-size: 6.97vw !important;
    line-height: 7.2vw !important;
  }
  .subHeader {
    font-size: 4.18vw !important;
    line-height: 4.68vw !important;
  }
}

.chairy {
  z-index: 0;
  display: flex;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  top: 0px;
  left: 0px;
  opacity: 10%;
}

.heading {
  z-index: 1;
  display: flex;
  height: fit-content;
  max-width: 100%;
  flex-direction: column;
  row-gap: 2.08vw;
}

h1,
h2 {
  & > .Grey {
    color: var(--grey_bright);
  }
  & > .GreyDark {
    color: var(--grey_dark);
  }
}

h1 {
  //   display: flex;
  margin: unset;
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 6.25vw;
}

h2 {
  //   display: flex;
  margin: unset;
  font-weight: 700;
  font-size: 3.33vw;
  line-height: 3.33vw;
}

.subHeader {
  color: var(--white);
  font-weight: 400;
  font-size: 0.92vw;
  line-height: 1.05vw;
}
