.modelViewerCheck {
  display: flex;
  width: 100%;
  height: 100%;
}

.modelViewer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.modelViewer model-viewer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}

.errorState {
  margin: auto;
  max-width: 560px;
  width: calc(100vw - 40px);
  padding: 24px;
  border-radius: 18px;
  background-color: #f1f1f1;
  font-family: "PT Mono", monospace;
  color: #222;
  text-align: center;
  box-sizing: border-box;
}

.errorState p {
  margin: 0 0 12px 0;
}

.retryButton {
  border: 0;
  border-radius: 100px;
  background-color: #4254f3;
  color: #fff;
  padding: 10px 18px;
  font-family: "PT Mono", monospace;
  cursor: pointer;
}
