@use "/src/index.scss" as index;

@media (max-width: 762px) {
  .cardsContainer {
    margin: 60px 0px !important;

    & > .card {
      width: 100% !important;
      height: 80vh !important;
      & > span {
        top: 20px !important;
        left: 20px !important;
        // right: 20px !important;
        max-width: 95% !important;
        font-size: 5.58vw !important;
        line-height: 5.72vw !important;
      }
    }
    & > .cardEven {
      width: 100% !important;
      height: 80vh !important;
      & > img {
        object-fit: cover;
      }
      & > .buttonDemo {
        justify-content: center !important;
        text-align: center !important;
        align-items: center !important;
        width: 65% !important;
        padding: 31px 0px !important;

        font-size: 4.18vw !important;
      }
      & > .title {
        font-size: 4.65vw !important;
      }
    }
  }

  .containerThird {
    flex-wrap: wrap;
    & > :nth-child(2) {
      width: 48.76% !important;
    }
    & > :nth-child(3) {
      width: 48.76% !important;
    }
    & > div {
      width: 100% !important;
      height: 80vh !important;
      & > img {
        object-fit: cover;
      }
    }
    & > .cardLoyal {
      & > .title {
        & > span {
          font-size: 6.51vw !important;
          line-height: 6.51vw !important;
        }
        & > p {
          margin: 20px 0px;
          font-size: 3.25vw !important;
          line-height: 4.55vw !important;
          width: 100% !important;
          max-width: unset !important;
        }
      }
    }

    & > .cardPercentage {
      height: 40vh !important;
      & > .title {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        padding: 0px 12px;
        // height: 50% !important;
        & > span {
          & > .percentageValue {
            display: flex !important;
            height: fit-content !important;
            max-height: fit-content !important;
            font-size: 8.83vw !important;
            line-height: 8.83vw !important;
            font-weight: 700;
            & > .percentageLow {
              font-weight: 700;
              font-size: 5.58vw !important;
              line-height: 5.58vw !important;
            }
          }
        }
        & > .subtext {
          // font-family: "Onest";
          opacity: 65% !important;
          margin: 10px 0px !important;
          font-size: 3.25vw !important;
          line-height: 3.9vw !important;
          font-weight: 700 !important;
        }
      }
    }
  }
}
.cardsContainer {
  margin: 100px 0px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;

  & > .card {
    height: fit-content;
    max-height: 560px !important;
    position: relative;
    &:nth-child(1) {
      width: 39.8%;
    }
    &:nth-child(2) {
      width: 59.5%;
    }
    &:nth-child(3) {
      width: 52.8%;
    }
    &:nth-child(4) {
      width: 23.03%;
    }
    &:nth-child(5) {
      width: 23.03%;
    }
    & > img {
      display: flex;
      width: 100%;
      height: 100%;
      //   max-height: inherit;
      object-fit: cover;
    }
    & > span {
      color: var(--white);
      font-size: 1.66vw;
      font-weight: 700;
      line-height: 1.66vw;
      position: absolute;
      top: 32px;
      left: 32px;

      & > p {
        color: var(--grey_bright);
        margin: unset;
      }
      & > .secondP {
        color: var(--grey_dark);
      }
    }
    & > .spanSmall {
      font-size: 1.25vw;
      line-height: 1.25vw;
    }
  }

  & > .cardEven {
    height: fit-content;
    max-height: 560px;
    width: 32.9%;
    position: relative;
    column-gap: 10px;

    & > img {
      //   position: absolute;
      width: 100%;
      height: 100%;
    }

    & > .title {
      display: flex;
      width: fit-content;
      position: absolute;
      bottom: 132px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    & > .buttonDemo {
      cursor: pointer;
      text-decoration: none;
      @include index.bright-button;
      display: flex;
      width: fit-content;
      position: absolute;
      bottom: 32px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 31px 60px;

      font-size: 0.83vw;
    }
  }

  .first {
  }

  .second {
  }

  .third {
  }

  .fourth {
  }

  .fifth {
  }
}

.containerEven {
  column-gap: 0.6%;
  justify-content: center;
}

.containerThird {
  //   column-gap: 0.6%;
  justify-content: space-between;

  & > div {
    display: flex;
    max-height: 560px;
    height: fit-content;
    position: relative;
    & > img {
      //   position: absolute;
      width: 100%;
      height: 100%;
    }

    & > .titleCentered {
      display: flex !important;
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px 7.39%;
    }

    & > .title {
      white-space: pre-wrap;

      font-size: 32px;
      line-height: 32px;

      display: flex;
      flex-direction: column;
      width: fit-content;
      flex-wrap: wrap;
      position: absolute;
      //   bottom: 132px;
      left: 32px;
      top: 32px;
      //   right: 0;
      margin: 0 auto;

      & > span {
        width: fit-content;
        & > .percentageValue {
          display: flex;
          height: fit-content;
          flex-direction: row;
          align-items: baseline;
          font-size: 120px !important;
          line-height: 120px !important;
          & > .percentageLow {
            margin: unset;
            display: flex;
            font-size: 32px;
            line-height: 32px;
          }
        }
      }

      & > .title_two {
        font-size: 32px;
        line-height: 32px;

        color: var(--white);
        opacity: 45%;
      }

      & > .subtext {
      }
    }
  }
  & > .cardRetail {
    width: 29.3%;
  }

  & > .cardPercentage {
    width: 23%;
    overflow: hidden;

    & > .title {
      white-space: pre-wrap;

      font-size: 120px;
      line-height: 120px;

      display: flex;
      flex-direction: column;
      width: fit-content;
      flex-wrap: wrap;
      position: absolute;
      //   bottom: 132px;
      left: 32px;
      top: 32px;
      //   right: 0;
      margin: 0 auto;

      & > .title_two {
        font-size: 32px;
        line-height: 32px;

        color: var(--white);
        opacity: 45%;
      }
      & > .subtext {
        font-size: 18px;
        line-height: 21.6px;
      }
    }
  }

  & > .cardLoyal {
    width: 49.7%;
    & > .title {
      & > .subtext {
        // word-spacing: ;
        max-width: 50%;
        font-size: 14px;
        line-height: 19.6px;
      }
    }
  }
}
