.container--arbutton {
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.link--arbutton {
    display: flex;
    transition: all .2s ease-out;
    flex-direction: column;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}
.link--arbutton:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.link--arbutton:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}
@media screen and (max-width: 1024px)  {
    .container--arbutton {
        padding: 10px;
    }
    .link--arbutton {
        width: 44px;
        height: 44px;
    }
    .arbutton--img {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1281px)  {
    .container--arbutton {
        display: none;
    }
}