.container--arbutton {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: unset;
  background-color: transparent;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.openIosAlert {
  z-index: 999;
  cursor: default;
  position: absolute;
  bottom: 94px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  max-width: 420px;
  /* min-width: 25vw; */
  width: fit-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  line-height: 1.4;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-sizing: border-box;
}
.closeSvg {
  cursor: pointer;
  opacity: 60%;
  position: absolute;
  padding: 0px;
  right: 10px;
  top: 10px;
  width: fit-content;
  height: fit-content;
  border: unset;
  background-color: transparent;
}
.openIosAlert h3 {
  font-family: "Onest";
  line-height: 120%;
  font-size: 26px;
  font-weight: 700;
  margin: unset;
  margin-bottom: 10px;
}
.openIosAlert span {
  line-height: 130%;
  font-family: "PT Mono", monospace;
  font-size: 18px;
  opacity: 60%;
}
.link--arbutton {
  position: absolute;
  top: 10px;
  left: 10px;
  border: unset;
  display: flex;
  transition: all 0.2s ease-out;
  flex-direction: column;
  width: 88px;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  background-color: #4254F3;
  text-decoration: none;
  cursor: pointer;
}
.link--arbutton--android {
  position: absolute;
  color: inherit;
  z-index: 999;
  bottom: 30px;
  border: unset;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-out;
  /* width: 88px;
  height: 88px; */
  width: fit-content;
  max-width: calc(100vw - 40px);
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  border-radius: 100px;
  background-color: #4254F3;
  text-decoration: none;
  cursor: pointer;
}
.linkButtonName {
  text-decoration: none;
  margin: 0px 8px 0px 10px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 17.92px;
  font-family: "PT Mono", monospace;
}
.link--arbutton:hover,
.link--arbutton--android:hover {
  filter: brightness(1.12) saturate(1.08);
  transform: translateY(-1px) scale(1.02);
}

.link--arbutton:active,
.link--arbutton--android:active {
  filter: brightness(0.92);
  transform: translateY(1px) scale(0.98);
}

.link--arbutton:focus-visible,
.link--arbutton--android:focus-visible,
.closeSvg:focus-visible {
  outline: 2px solid #4254F3;
  outline-offset: 2px;
}

.closeSvg:hover {
  opacity: 1;
}

.closeSvg:active {
  transform: translateY(1px);
}
@media screen and (max-width: 1024px) {
  .container--arbutton {
    padding: 10px;
  }
  .link--arbutton {
    width: 44px;
    height: 44px;
  }
  .arbutton--img {
    width: 32px;
    height: 32px;
  }
  .openIosAlert {
    padding: 24px;
    min-width: 50vw;
    left: 10px;
  }
  .openIosAlert h3 {
    font-family: "Onest";
    font-weight: 700;
    font-size: 3vw;
  }
  .openIosAlert span {
    font-family: "PT Mono", monospace;
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .openIosAlert {
    min-width: calc(100vw - 40px) !important;
  }
  .openIosAlert h3 {
    font-family: "Onest";
    font-weight: 700;
    font-size: 6vw;
  }
  .openIosAlert span {
    font-family: "PT Mono", monospace;
    font-size: 4vw;
  }
}

.testing123 {
  display: flex;
}
